.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: all 2s ;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s linear;
}

.ex-2-square:active{
    width: 100%; 
}


.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 1s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 1s linear;
}

.ex-4-square:hover {
    background-color: transparent;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: width 1s linear, height 1s linear, transform 1s linear;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    transform: scale(0.3);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img{
    transition: filter 1s linear;
}

.ex-7-img:hover{
    filter: grayscale(1) contrast(3);
    
}

.ex-8-img{
    transition: filter 1s linear, border-radius 4s ease;
}


.ex-8-img:hover{
    filter: sepia(1) saturate(3);
    border-radius: 30px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: filter 1s linear, transform 3s linear, border-radius 4s linear;
}

.ex-9-img:hover{
    filter: grayscale(1) contrast(3);
    transform: scale(1.5);
    border-radius: 30px;
}


.ex-10-icon {
    font-size: 60px;
    animation: rotate 0.7s infinite linear;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg)
    }
}

.ex-11-icon {
    font-size: 60px;
    animation: rotate 0.7s infinite linear;
    
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg)
    }
}

.ex-11-icon:hover{
    animation: rotatefast 1s linear;
}

@keyframes rotatefast{
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(90deg);
    }

    50%{
        transform: rotate(180deg);
    }

    75%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(0deg);
    }
}


.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white{
    animation: movingtop 1s linear ;
}

@keyframes movingtop{
    0%{
        left: 10%
    }

    50%{
        left: calc(90% - 60px);
    }

    100%{
        left: 10%
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: movingbottom 1s linear;
}

@keyframes movingbottom{
    0%{
        right: 20%
    }
    
    50%{
        right: calc(80% - 60px)
    }

    100%{
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: movingtopcircle 2s linear;

}

@keyframes movingtopcircle{
    0%{
        left: 10%;
        top: -10px;
    }

    20%{
        left: 90%;
        top: -10px;
    }

    40%{
        left: 90%;
        top: 60px;
    }

    60%{
        left: -10%;
        top: 60px;

    }

    80%{
        left: -10%;
        top: -10px;
    }

    100%{
        left: 10%;
        top: -10px;
    }
}


.ex-13-button:hover .ex-13-bottom-white{
    animation: movingbottomcircle 2s linear;

}

@keyframes movingbottomcircle{
    0%{
        right: 20%;
        bottom: -10px;
    }

    20%{
        right: 80%;
        bottom: -10px;
    }

    40%{
        right: 80%;
        bottom: 60px;
    }

    60%{
        right: -20%;
        bottom: 60px;

    }

    80%{
        right: -20%;
        bottom: -10px;
    }

    100%{
        right: 20%;
        bottom: -10px;
    }
}